.couponUpdate{
  height: 100%;
  width: 100%;
}

.couponUpdate form{
  min-width: 472px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 60%;
  margin-bottom: 5%;
  position: relative;
  top: 0;
  left: 0;
  margin-left: 50%;
  margin-top: 5%;
  transform: translateX(-50%);
  color: yellow;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 3%;
  text-align: left;
}

.couponUpdate .updateLabels{
  display: inline-block;
  grid-column: 1;
  top: 0;
  left: 0;
  font-size: 20px;
  word-wrap: none;
  line-height: 60px;
}

.couponUpdate .updateFields{
  display: inline-block;
  grid-column: 2/5;
}

.couponUpdate img{
  width: 300px;
  margin-left: 50%;
  margin-top: 10px;
  transform: translateX(-50%);
  border: 3px solid rgb(146, 75, 179);
  box-shadow: 0 0 10px rgb(87, 12, 131);
}

.couponUpdate select, .couponUpdate input{
  width: 250px;
  height: 40px;
  margin: 10px 10px 10px 50%;
  transform: translateX(-50%);
}

.couponUpdate select{
  padding-left: 5px;
}

.couponUpdate .updateFields input{
  padding : 10px;
}

.couponUpdate input[type=submit]{
 padding: 0;
 margin-top: 25px;
 width: 180px;
 border-radius: 0 0 100px 100px;
 margin-left: 50%;
 transform: translateX(-50%);
}