.passwordChange{
    height: 100%;
    width: 100%;
    position: relative;
}

.passwordChange form{
    width: 60%;
    min-width: 310px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    padding: 3%;
    position: absolute;
    margin-top: 15vh;
    margin-left: 50%;
    transform: translateX(-50%);
}

.passwordChange input {
    width: 250px;
    height: 40px;
    margin: 10px;
    padding : 10px;
}

.passwordChange input[type=submit]{
   padding: 0;
   margin-top: 10px;
   width: 180px;
   border-radius: 0 0 100px 100px;
   position: relative;
}